.example-input, .Login-Form {
  max-width: 350px;
  left: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto; 
background: rgba(140,140,140,.5);
}

.example-input .ant-input {
  width: 350px;
  height: 25px;
  margin: 0 8px 8px 0;
}

.Login-Form .ant-input {
  width: 350px;
  height: 25px;
  margin: 0 8px 8px 0;
}

#Address{
  height: 100px;
}